:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
}
.allheadings {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;

  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
}
.pees {
  color: #6c757d;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 30px 20px;
  margin: 45px;
  border-style: groove;
  border-width: 3px;
  border-radius: 18px;
  border-color: var(--branding-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.19) !important;

}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 24px;
}
.btn {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 40px 0;
}
@media (max-width: 600px) {
  .container .hero {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  h1,
  h3 {
    font-size: 46px;
  }
}
.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
@media (max-width: 600px) {
  .content h1 {
    font-size: 42px;
  }
}

.content {
  margin: 90px;
}
ul {
  list-style-type: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
li {
  display: inline;
  margin: 20px;
}
nav {
  padding: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
@media (max-width: 400px) {
  ul {
    margin: 10px;
  }
}
.email-footer {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
.email-footer:hover {
  color: var(--branding-color);
}
footer .social-footer {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 15px;
  transition: all 100ms ease-in-out;
}
footer .social-footer:hover {
  color: white;
  background: var(--branding-color);
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 30px;
  border: solid;
  border-color: var(--branding-color);
  border-width: 2px;
  margin: 48px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  outline: 1px solid darkblue;
}
h4 {
  font-size: 48px;
}
footer .contact-box p {
  margin: 0;
}
.body {
  margin: 40px 40px;
}
.let {
  margin: -120px;
}
.footer {
  margin-top: 20px;
  padding: 10px;
}
.cake {
  margin-left: 63px;
  max-width: 83%;
  margin-bottom: 45px;
}
